<div class="container mt-5">
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-md-4">
        <div class="card p-3">
          <p>Modelo: <%= car.model %></p>
          <p>Marca: <%= car.brand %></p>
          <p>Ano: <%= car.model_year %>/<%= car.manufacture_year %></p>
          <%= link_to "Reservar", user_clients_path, class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
